# Python cache
__pycache__/
*.pyc

# Datos y configuración local
data/data.json

# Base de datos
*.db

.vscode/
api_keys.txt

# Archivos de entorno y claves
.env
.streamlit/secrets.toml

# Documentos de exposicion
explicacion_completa_exposicion.txt
Explicacion_SQLite2.txt
